/****START*****/
    *{
        margin : 0;
    	padding : 0;
    }
    
	
    body{
    	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    	overflow-x : hidden;
		background-color : #eff6ff33;
    }
	
	
    .first_section{
    	width : 100%;
    	/* position : relative; */
    	background-image : url("../IMAGES/maxim-klimashin-j4Wc_Ezq7OE-unsplash.webp");
    	background-size : cover;
    	background-position : center;
    	margin : 0;
    	padding : 0;
        min-height : 60dvh;
        min-height : 60vh;
    	background-size : cover;
    }
	
	
    
    .first_section_content{
    	width : 100%;
    	min-height : 60dvh;
    	min-height  : 60vh;
    	background : #010b13E5;
    }
	
    .name_text_flex{
    
      color : #ffffff;	
      display : flex;
      flex-direction : row;
      row-gap : 0;
      column-gap : 0;
      align-items : center;
      justify-content : center;
      padding-top : 100px;
      /* position : absolute; */
      /* top : 35%; */
      /* left : 20%;  */
      /* display : none; */
	  transform : translateY(-100px);
	  opacity : 0;
    }

    .cj_text{
    	margin : 0 25px 0 25px;
    }
    
    .name_img{
    	width : 30px;
    	height : 30px;
    	border-radius : 100%;
    	border : solid 3px #ffffff;
    }
    
    h1{
       font-size : 3rem;
       font-family : "Playfair Display";
      
    }	
    .bio_headlines_flex{
      display : flex;
	  flex-direction : column;
	  justify-content : center;
	  row-gap : 0;
	  column-gap : 10px;
      /* display : none; */
    }
    
    .bio_headlines_flex h2{
    	font-size : 1.2rem;
    	font-weight : 600;
    	color : #ffffff;
		text-align : center;
    }
	
	.bio_pipe{
		display : none;
	}
	
    .view_btn{
    	border : none;
    	width : 80%;
    	height : 45px;
    	font-weight : 700;
    	font-size : 1.15rem;
    	background : linear-gradient(60deg, #fb5b21,#7a0632);
    	border-radius : 5px;
    	color : #eaebff;
        display : block;
		margin-left : auto;
		margin-right : auto;
		margin-top : 10px;
		display : flex;
		flex-direction : row;
		align-items : center;
		justify-content : space-between;
		padding : 0 10px 0 10px;
    }	
	
	.view_btn:hover #arrow_outward_icon{
		transform : rotate(45deg);
	}
	
	#arrow_outward_icon{
		font-size : 2rem;
		transition : transform 1s linear;
	}
	
	.explore_link:hover{
		text-decoration : none;
	}
	
    .counter {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
    
    .counter_digit{
       color : #ffffff;
    }
    
    .stat p {
      text-align: center;
      padding-top: 2px;
      font-size: 0.7rem;
      color : #ffffff;
      font-weight : 600;
    }
    
    
    #stats{
       overflow-x : none;
       display : flex;
       flex-direction : row;
       padding : 25px 0 0 0;
       margin : 0 5% 0 5%;
       width : 90%;
       border-top-left-radius : 15px;
       border-top-right-radius : 15px;  
       flex-wrap : no-wrap;
       row-gap : 0;
       column-gap : 50px;  
       justify-content : center;   
    }
    
    
    .stat{
       border-radius : 100%;
       color : #ffffff;
       display : flex;
       flex-direction : column;
       align-items : center;
       margin : 0 0 0 0;
       width : 8%;
    }
	
	
/******************************FIRST SECTION ANIMATION******************************/	
	
	
	@keyframes name_text_flex_animation{
		from{
		  transform : translateY(-100px);
		  opacity : 0;
		}
		to{
			
		 transform : translateY(0);
		 opacity : 1;
		}
		
	}
	
	.animate_name_text_flex{
        animation : name_text_flex_animation 4s linear forwards;		
	}
	
	
	@keyframes nav_section_animation{
		from{
		  transform : translateY(-80px);			
		}
		to{
		  transform : translateY(0);			
		}
	}
	
	
/******************************SECOND SECTION******************************/

    #second_section{
        width : 100%;
		min-height : auto;
		position : relative !important;
		background : #eff6ff;
		padding : 6rem 0 6rem 0;
    }

    #second_section .second_section_content{
        width : 100%;
    }		
	
	#second_section .second_section_flex{
		width : 95%;
		min-height : auto;
		min-height : auto;
		display : flex;
		flex-direction : column;
		row-gap : 30px;
		column-gap :0;
        
		align-items : center;
		margin-left : auto;
		margin-right : auto;
		
	}

	
	#second_section .second_section_flex_right_item{
		color : #00244C;
		z-index : 9999;
		padding-left : 0;
		font-size : 1rem;
		background :none;
		z-index : 1;
		text-align : justify;
        border-top-left-radius : 0;
        border-top-right-radius : 0;
        border-top : none;		
        padding-left : 0;
        padding-right : 0;
        padding-top : 0;
      		
	}
	
    .second_section_flex_right_item::before {
      content: "";
      position: absolute;
      inset: 0;
      border-top: none;
      pointer-events: none;        
      border-top-left-radius : 0;
      border-top-right-radius : 0;
	  

    }	

	
	#second_section .expertise_overview_img{
		width : 90%;
		height : auto;
		transform : scaleY(0);
		transform-origin : center;
        display : block;
        margin : 0 auto 0 auto;		
	}
	
	#second_section .second_section_heading{
		margin : 0;
		padding : 0 0 30px 30px;
		font-weight : 700;
		font-size : 1.75rem;
		color : #00244C;
        font-family : calibre,helvetica,arial,sans-serif;
        text-align : center;
	}

/******************************SECOND SECTION ANIMATION******************************/	

    @keyframes expertise_overview_img_animation{
        from{
           transform : scaleX(0);
    	}
        to{
    
           transform : scaleX(1);
    
    	}		
    	
    }
	
	.animate_expertise_overview_img{
		animation : expertise_overview_img_animation 3s linear forwards;
	}


	
	
/***********************************THIRD SECTION***********************************/
    .third_section{
    	width : 100%;
	    min-height : auto;
		background-color : #eff6ff;
		padding :  8rem 0 10rem 0;
   clip-path: polygon(
    50% 0%,   /* top center vertex */
    100% 20%,
    100% 100%,
    0% 100%,
    0% 20%
  );		
    margin-top : -120px;
    }

    .third_section_content{
		width : 100%;
	    min-height : auto;
	}
	
	
    .third_section_wrapper{
    	
    	width : 350px;
    	overflow : hidden;
        color : #ffffff;	
    	height : 100px;
    	
    }	
	
	
	.third_section_flex{
	    display : flex;
        flex-direction : row;
		height : 100%;
		
		/* align-items : center; */
		/* justify-content : center; */
        /* margin-left : auto; */
        /* margin-right : auto; */
       transition: transform 0.5s ease-in-out;
       
       /* Start showing the REAL Slide 1 (index 1 in the wrapper array) */
       transform: translateX(-350px);		
	}
	
	.first_images_set{
		margin-left : 5px;
	}
	
	.second_images_set{
		
	}
	
	.third_images_set{


	}	


    .third_section_flex>div{
      /* Ensures each slide takes up exactly the container height */
      flex-shrink: 0;
      height: 100px; /* Must match .slideshow-container height */
      width: 350px;
      padding : 20px 0 0 10px;
    }	
	

	.logo_img{
		width : 19%;
        height : auto;
        margin : 0 2.5% 0 2.5%;		
	}

	

    /* .un_logo_img{ */
		/* width : 60px; */
        /* height : 61.2px; */
        /* margin : 0 7.5px 0 7.5px;		 */
	/* } */
    /* .ilo_logo_img{ */
		/* width : 60px; */
        /* height : 40px;		 */
        /* margin : 0 7.5px 0 7.5px; */
	/* }	  */
	 
	/* .undp_logo_img{ */
		/* width : 60px; */
		/* height : 60px; */
        /* margin : 0 7.5px 0 7.5px; */
	/* } */
	/* .giz_logo_img{ */
		/* width : 72px; */
		/* height : 31px; */
        /* margin : 0 7.5px 0 7.5px; */
	/* } */
	
	
	/* .unicef_logo_img{ */
		/* width : 60px; */
        /* height : 61.2px;	 */
        /* margin : 0 7.5px 0 7.5px; */
	/* } */
	
	
	
	/* .suliver_logo_img{ */
		/* width : 60px; */
        /* height : 61.2px;	 */
        /* margin : 0 7.5px 0 7.5px;  		 */
	/* } */
	
	
	
	/* .ny_logo_img{ */
		/* width : 60px; */
        /* height : 61.2px;		 */
        /* margin : 0 7.5px 0 7.5px;		 */
	/* } */
	
	
	/* .nigeria_logo_img{ */
		/* width : 60px; */
		/* height : 50.4px; */
        /* margin : 0 7.5px 0 7.5px;	 */
	/* } */
	
	/* .somalia_logo_img{ */
		/* width : 60px; */
		/* height :60px; */
        /* margin : 0 7.5px 0 7.5px;	 */
	/* } */
	
	
	/* .sierra_logo_img{ */
		/* width : 60px; */
		/* height : 50.4px; */
        /* margin : 0 7.5px 0 7.5px; */
	/* }	 */
	
	
	
	/* .libya_logo_img{ */
		/* width : 60px; */
		/* height : 66px; */
        /* margin : 0 7.5px 0 7.5px;		 */
	/* } */
	
	/* .medgar_logo_img{ */
		/* width : 60px; */
		/* height : 30px; */
        /* margin : 0 7.5px 0 7.5px;	 */
	/* } */
	 
	 
	.third_section_heading{
		font-weight : 700;
		font-size : 1.75rem;
		color : #001F4E;
		padding : 0 0 25px 0;
		text-align : center;
	}	
	
/***********************************FOURTH SECTION***********************************/
	
    .fourth_section{
	  width : 100%;
      background: #0b1c2d;
      color: white;
      padding: 0 0 10rem 0;
	  min-height : auto;
   clip-path: polygon(
    50% 0%,   /* top center vertex */
    100% 1%,
    100% 100%,
    0% 100%,
    0% 1%
  );
    }


    .fourth_section_content{
        width : 100%;
		height : 100%;
		padding : 12rem 0 6rem 0;
	}

    .fourth_section_heading{
        font-size : 2rem;
		font-weight : 600;
		text-align : center;
		padding : 0 0 10px 0;
	}		
	
	.employement_flex{
		display : flex;
		flex-direction : column;
		align-items : center;
		justify-content :center;
		row-gap :50px;
		column-gap : 0;
		margin : 150px auto 50px auto;
		width : 90%;
	}
	
    .employement_flex:first-child{
		
		margin : 10px 0 25px 0;
		
	}
	
	.employement_flex_heading{
		width : 175px;
		height : 175px;
		background-color :#F1F3F8;
		color : #001F4E;
		padding : 10px;
		border-radius : 5px;
		position : relative;
		display : flex;
		align-items : center;
		justify-content : center;
	}
	
	.employement_flex_right_item{
		width : 100%;
		min-height : auto;
	    /* display : flex; */
	    /* align-items : center; */
	    /* justify-content : center; */
		background-color :#F1F3F8;
		color : #001F4E;
		font-size : 1.1rem;
		border-radius : 25px;
        background: repeating-linear-gradient(
            45deg,
            #F1F3F8,
            #F1F3F8 20px,
            #D6E0F0 40px,
            #D6E0F0 40px
        );
       
	    transition : transform 2s linear;

		
	}
	
	.employement_flex_content{
	    width : 100%;
        height : 100%;		
		padding : 0 0 0 0;
        border-left : solid 10px #FFD166;
		border-top-left-radius : 25px;
		border-bottom-left-radius : 25px;
		padding : 10px 5px 30px 5px;
	}
	
	
	.flex_content_list{
		width : 100%;
		height : 100%;
		margin : 0;
	}
	.flex_content_list li{
		padding : 0 0 0 0;
		margin : 10px 0 10px 0;
		display : flex;
		align-items : center;
		line-height : 1.3;
	}
	.flex_content_list {
		list-style-type : none;
	}
	
	.flex_heading h3{
		font-weight : 700;
		text-align : center;
		font-size : 1.35rem;
	}
	.employement_flex_right_item:hover{
		transform : translateX(30px);
	}

    .no_heading{
		position : absolute;
		font-weight : 800;
		font-size : 8rem;
		color : #001F4E33;
		font-family : "Anton", sans-serif;
	}
	
    .explore_btn{
    	border : none;
    	width : 350px;
    	height : 45px;
    	font-weight : 700;
    	font-size : 1.35rem;
    	background : linear-gradient(60deg, #fb5b21,#7a0632);
    	border-radius : 5px;
    	color : #eaebff;
        display : block;
		margin-left : auto;
		margin-right : auto;
		margin-top : 30px;
		display : flex;
		flex-direction : row;
		align-items : center;
		justify-content : space-between;
		padding : 0 10px 0 10px;
    }	
	
/***********************************FIFTH SECTION***********************************/
    .fifth_section{
        width : 100%;
        min-height : auto;
        background : #16161d;
        /* background : radial-gradient(#0c253f,#090f21,#0d0a0b); */
        padding : 6rem 0 6rem 0;		
	}
	.first_section_content{
		width : 100%;
	}
	
	.fifth_section_flex{
		display : flex;
		flex-direction : column;
		align-items : center;
		width : 90%;
		margin-left : auto;
		margin-right : auto;
	}
	
	.fifth_section_flex_left_item{
		width : 100%;
		
	}
	
	.fifth_section_grid{
	    display : grid;
        grid-template-column : repeat(1, 2fr);
        /* grid-auto-rows : 200px; */
		grid-gap : 0;
		width : 100%;
		/* height : 500px */
		
	}
	
	.fifth_section_grid img{
		width : 100%;
		height : auto;
	}
	.grid_first_image{
		grid-column : 1/2;
		grid-row : 1/2;
		border-top-left-radius : 10px;
	}
	
	.grid_second_image{
		grid-column : 3/4;
		grid-row : 1/2;
		border-top-right-radius : 10px;
	}
	
	
	.grid_third_image{
		grid-column : 1/2;
		grid-row : 3/4;
		border-bottom-left-radius : 20px;
	}	
	
	
	.grid_fourth_image{
		grid-column : 3/4;
		grid-row : 3/4;
		border-bottom-right-radius : 20px;
	}	
	

	
    .new_york_content{
        width: 95%;
        padding: 1rem;
        border-top-right-radius:18px;
        border-bottom-right-radius: 18px;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        background: #0b1c2d;
        backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
        border: 1px solid rgba(255, 255, 255, 0.12);
        color: #e5e7eb;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
        transform : translateX(0);
        transform : translateY(-50px);
		text-align : justify; 
        font-size : 1rem;		
      
    }
    .new_york_heading{
		font-size : 1.25rem;
		font-weight : 700;
		text-align : left;
		padding : 0 0 30px 0;
	}




/***********************************FIFTH SECTION ANIMATION***********************************/	


/***********************************SIXTH SECTION***********************************/
    #sixth_section{
        width : 100%;
        min-height : auto;
        padding : 10rem 0 4rem 0;		
		background-color : #f5f5f5;
   clip-path: polygon(
    50% 0%,   /* top center vertex */
    100% 10%,
    100% 100%,
    0% 100%,
    0% 10%
  );		
    margin-top : -150px;
	}
	
	#sixth_section .sixth_section_heading{
		color : #001f4e;
		font-weight : 600;
		font-size : 1.5rem;
        min-height : auto;
		padding : 0  0 30px 0;
		text-align : center;
	}
	
	
	#sixth_section .sixth_section_flex{
		display : flex;
	    flex-direction : column;
		gap : 30px;
		width : 90%;
		margin-left : auto;
		margin-right : auto;
		margin-top : 0;
	}
	
	#sixth_section .sixth_section_flex>div{
		flex : none;
		background :#d1dcec;
		border-radius : 10px;
		padding : 10px;
		transition : box-shadow .15s linear,background-color .15s linear;
		cursor : pointer;
		position : relative;
		height : 300px;
	}
	
	#sixth_section .publication_heading{
		font-weight : 600;
		font-size : 1.2rem;
		line-height : 1.3;
		clear : right;
	    padding : 5px 0 5px 0;
	}
	
	#sixth_section .publication_detail{
		font-size : 0.8rem;
		line-height : 1.2;
		font-family : calibre,helvetica,arial,sans-serif;
		color : #515151;
	}
	
	#sixth_section .publication_data{
		display : flex;
		flex-direction : row;
		justify-content : space-around;
		font-weight : 600;
		position : absolute;
		bottom : 5%;
		width : 100%;
		left : 0;
	}
	#sixth_section .publication_tag{
		background-color :#8ca8ce;
		border-radius : 5px;
		padding : 3px;
		font-weight : 600;
		font-size : 1rem;
		float : right;
	}
	
	#sixth_section .sixth_section_flex>div:hover{
		background : #ffffff;
		box-shadow : 0 2px 20px rgba(30,30,30,.15);
	}
	
	#sixth_section .publication_link{
		color : #000000;
	}
	#sixth_section .download_link{
		color : #000000;
	}


    .publication_btn{
		width : 75%;
		height : 50px;
		display : block;
		border : solid 3px #C5A059;
        background : #002D62;		
		color : #ffffff;
		font-weight : 600;
		font-size : 1.25rem;
		border-radius : 5px;
		margin : 100px 0 0 0;
		transform : translateX(10%);
		transition : box-shadow 0.7s linear;
	}
	
	.publication_btn:hover{
		
		box-shadow : 1px 1px 3px 3px #3e3e3e4C;
	}
	
	.publication_btn_link:hover{
		text-decoration : none;
	}
	




/***********************************END***********************************/


	