@media(min-width: 768px) and (hover: none) and (pointer: coarse){
/****************************************************START****************************************************/
    *{
        margin : 0;
    	padding : 0;
    }
        
    body{
    	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    	overflow-x : hidden;
    }
	
/******************************FIRST SECTION******************************/	
	
	.first_section{
		width : 100%;
		min-height : 30dvh;
		min-height : 30vh;
	    position : relative;
		background-image : radial-gradient(#0c253f,#090f21,#0d0a0b);
		/* background-image : url("../IMAGES/4283880_282.webp"); */
		padding : 4rem 0 4rem 0;
clip-path: polygon(
  0% 0%,
  100% 0%,
  100% 90%,
  50% 100%,  /* bottom center vertex */
  0% 90%
);

	}
	
	.first_section_content{
		width : 100%;
	}
	
	.first_section_flex{
		width : 95%;
		margin-left : auto;
	    margin-right : auto;
		display : flex;
		flex-direction : row;
		gap : 50px;
		align-items : center;
	}
	
	.first_section_flex_image_item{
		width : 60%
	}
	
	.left_bg{
		width : 40%;
	}
	
	.office_image{
		width : 100%;
		height : auto;
		z-index : 1;
		transform : translateX(-100px);	
		border-top-left-radius :2px;
		border-top-right-radius :2px;
		border-bottom-left-radius :2px;
		border-bottom-right-radius : 2px;	
        border : none;		
	}
	
	
	.first_section_heading{
		
		font-weight : 700;
		font-size : 1.75rem;
		font-family : Playfair Display;
	    transform : scaleY(0);
		transform-origin : bottom;
        /* opacity : 0;		 */
		color : #ffffff;
	}
	
	.thought_heading{
		color : #ffffff;
		font-weight : 700;
		font-size : 1.75rem;
		font-family : Playfair Display;
	    transform : scaleY(0);
		transform-origin : bottom;		
	}	
	
	.first_section_text{
		color : #ffffff;
	}
	
	.pattern_image{
		position : absolute;
		width : 75px;
		height : 75px;
		z-index : 0;
		border-radius : 25px;
		transform : translate(525%, 250%);
        display : block;		
	}
	


/******************************FIRST SECTION ANIMATION******************************/	

    @keyframes first_section_heading_animation{
		from{
			transform : scaleY(0);
		}
		to{
			transform : scaleY(1);
		}
	}
	
	.animate_first_section_heading{
	   animation-name : first_section_heading_animation;
	   animation-duration : 1.5s;
	   animation-timing-function : linear;
	   animation-fill-mode : forwards;
	   animation-delay : 1.1s;
	}
	

	
	.animate_thought_heading{
	   animation-name : first_section_heading_animation;
	   animation-duration : 1s;
	   animation-timing-function : linear;
	   animation-fill-mode : forwards;
	}
	

    @keyframes first_section_image_animation{
		from{
			transform : translateX(-100px);
			
		}
		to{
			transform : translateX(0);
			
		}
	}

    .animate_first_section_image{
        animation : first_section_image_animation 3s linear forwards;
	}


/******************************SECOND SECTION******************************/	
    
	.second_section{
		width : 100%;
		background-color : #f5f5f5;
		min-height : auto;
		padding : 4rem 0 6rem 0;
		margin-top : -100px;
	}
	
	.second_section_heading{
		color : #001f4e;
		font-weight : 600;
		padding : 175px  0 10px 30px;
        font-size : 2.5rem;		
	}
	
	
	.second_section_flex{
		display : flex;
	    flex-direction : row;
		gap : 20px;
		width : 95%;
		margin-left : auto;
		margin-right : auto;
		margin-top : 50px;
		
	}
	
	.second_section_flex>div{
		flex : 1;
		background :#d1dcec;
		border-radius : 10px;
		padding : 10px;
		transition : box-shadow .15s linear,background-color .15s linear;
		cursor : pointer;
		position : relative;
		height : 275px;
	}
	
	.publication_heading{
		font-weight : 600;
		font-size : 0.8rem;
		line-height : 1.3;
		clear : right;
	    padding : 5px 0 5px 0;
	}
	
	.publication_detail{
		font-size : 0.7rem;
		line-height : 1.2;
		font-family : calibre,helvetica,arial,sans-serif;
		color : #515151;
	}
	
	.publication_data{
		display : flex;
		flex-direction : column;
		justify-content : center;
        gap : 0;
		font-weight : 600;
		position : absolute;
		bottom : 2%;
		width : 100%;
		left : 5%;
	}
	.publication_tag{
		background-color :#8ca8ce;
		border-radius : 5px;
		padding : 3px;
		font-weight : 600;
		font-size : 0.7rem;
		float : right;
	}
	
	.second_section_flex>div:hover{
		background : #ffffff;
		box-shadow : 0 2px 20px rgba(30,30,30,.15);
	}
	
	.publication_link{
		color : #000000;
	}
	.download_link{
		color : #000000;
		font-size : 0.8rem;
	}
	
	
	.third_section_flex{
		display : flex;
	    flex-direction : row;
		gap : 20px;
		width : 95%;
		margin-left : auto;
		margin-right : auto;
		margin-top : 50px;
		
	}
	
	.third_section_flex>div{
		flex : 1;
		background : #FFE0D1;
		border-radius : 10px;
		padding : 10px;
		transition : box-shadow .15s linear,background-color .15s linear;
		cursor : pointer;
		position : relative;
		height : 300px;
	}
	
	.third_publication_tag{
		background-color :#FFC9AD;
		border-radius : 5px;
		/* width : 100%; */
		padding : 3px;
		font-weight : 600;
		font-size : 0.75rem;
		float : right;
        gap : -50px;
	}	
	
	.third_section_flex>div:hover{
		background : #ffffff;
		box-shadow : 0 2px 20px rgba(30,30,30,.15);
	}	
	
	
	.first_image_flex, .second_image_flex{
		display : flex;
	    flex-direction : row;
		gap : 30px;
		width : 90%;
		margin-left : auto;
		margin-right : auto;
		margin-top : 25px;
		
	}	
	
	.first_image_flex>a{
		flex : 1;
		transition : transform 1.5s ease;
	}
	
	.second_image_flex>a{
		flex : 1;
		transition : transform 1.5s ease;
	}	
	
	.second_image_flex>a:hover, .first_image_flex>a:hover{
		
		box-shadow : 0 2px 20px rgba(150,150,150,.75);
		transform : skewY(7.5deg);
		
	}	
	
	.authors{
		font-size : 0.8rem;
	}

	
	
/**************************************************END**************************************************/
}	